.input-date--and-cvc-container,
.input-row {
  display: flex;
}

.form,
.input-date-container,
.input-cvc-container,
.input-name-container,
.input-card-number-container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.form {
  gap: 1.625rem;
  justify-content: center;
  @media (max-width: $mobile) {
    gap: 1.25rem;
    padding: 0 1.5rem;
  }
}

.input-row {
  gap: 0.625rem;
  @media (max-width: $mobile) {
    gap: 0.5rem;
  }
}

.input-date--and-cvc-container {
  gap: 1.6875rem;
  @media (max-width: $mobile) {
    gap: 0.6875rem;
  }
}

// INPUTS
label {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.125rem;
  color: $violet;
  text-transform: uppercase;
}

input {
  border: 1px solid $input-border;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  padding-left: 1rem;
  &::placeholder {
    opacity: 0.25;
    color: $violet;
  }
  &:focus {
    outline: 1px solid $input-focus;
  }
}

.input-name,
.input-card-number {
  width: 24.1875rem;
  height: 2.8125rem;
  @media (max-width: $mobile) {
    width: 20.4375rem;
  }
}

.input-date {
  width: 5rem;
  height: 2.8125rem;
  @media (max-width: $mobile) {
    width: 4.5rem;
  }
}

.input-cvc {
  width: 11.9375rem;
  height: 2.8125rem;
  @media (max-width: $mobile) {
    width: 10.25rem;
  }
}

// BTN
.btn {
  width: 23.8125rem;
  height: 3.3125rem;
  border-radius: 0.5rem;
  background-color: $violet;
  color: $white;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  text-align: center;
  &:hover {
    opacity: 0.9;
  }
  @media (max-width: $mobile) {
    width: 20.4375rem;
  }
}

// ERROR
.error {
  color: $red;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  text-transform: capitalize;
  display: none;
}
