* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}

button,
input {
  cursor: pointer;
}

button {
  border: none;
}

$input-focus: #6448FE;
$input-border: #dfdee0;
$red: #FF5050;
$white: hsl(0, 0%, 100%);
$violet: #21092f;
$mobile: 450px;

