.thanks-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  display: none;
}

.thanks-img {
  width: 5rem;
  height: 5rem;
}

.thanks-heading-text {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: 0.2139rem;
  color: $violet;
}

.thanks-paragraph {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  color: #8f8694;
}
