* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}

button,
input {
  cursor: pointer;
}

button {
  border: none;
}

.input-date--and-cvc-container,
.input-row {
  display: flex;
}

.form,
.input-date-container,
.input-cvc-container,
.input-name-container,
.input-card-number-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  gap: 26px;
  justify-content: center;
}
@media (max-width: 450px) {
  .form {
    gap: 20px;
    padding: 0 24px;
  }
}

.input-row {
  gap: 10px;
}
@media (max-width: 450px) {
  .input-row {
    gap: 8px;
  }
}

.input-date--and-cvc-container {
  gap: 27px;
}
@media (max-width: 450px) {
  .input-date--and-cvc-container {
    gap: 11px;
  }
}

label {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  color: #21092f;
  text-transform: uppercase;
}

input {
  border: 1px solid #dfdee0;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  padding-left: 16px;
}
input::placeholder {
  opacity: 0.25;
  color: #21092f;
}
input:focus {
  outline: 1px solid #6448FE;
}

.input-name,
.input-card-number {
  width: 387px;
  height: 45px;
}
@media (max-width: 450px) {
  .input-name,
.input-card-number {
    width: 327px;
  }
}

.input-date {
  width: 80px;
  height: 45px;
}
@media (max-width: 450px) {
  .input-date {
    width: 72px;
  }
}

.input-cvc {
  width: 191px;
  height: 45px;
}
@media (max-width: 450px) {
  .input-cvc {
    width: 164px;
  }
}

.btn {
  width: 381px;
  height: 53px;
  border-radius: 8px;
  background-color: #21092f;
  color: hsl(0deg, 0%, 100%);
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}
.btn:hover {
  opacity: 0.9;
}
@media (max-width: 450px) {
  .btn {
    width: 327px;
  }
}

.error {
  color: #FF5050;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
  display: none;
}

.thanks-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  display: none;
}

.thanks-img {
  width: 80px;
  height: 80px;
}

.thanks-heading-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 3.42222px;
  color: #21092f;
}

.thanks-paragraph {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #8f8694;
}

body {
  font-size: 18px;
  background: url("../images/bg-main-desktop.png") no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 450px) {
  body {
    background: url("../images/bg-main-mobile.png") no-repeat;
    background-size: contain;
    align-items: flex-start;
  }
}

.main-container {
  display: flex;
  width: 85%;
  gap: 240px;
}
@media (max-width: 450px) {
  .main-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 52px;
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
  position: relative;
  color: hsl(0deg, 0%, 100%);
  gap: 37px;
}
@media (max-width: 450px) {
  .cards-container {
    flex-direction: column-reverse;
    min-width: 375px;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 32px 16px 0 16px;
    gap: 0;
    max-height: 251px;
  }
}

.card-front-text-container {
  position: absolute;
  top: 137px;
  left: 31px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 377px;
}
@media (max-width: 450px) {
  .card-front-text-container {
    top: 199px;
    left: 39px;
  }
}

.card-back-cvc-number {
  position: absolute;
  bottom: 116px;
  left: 474px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
@media (max-width: 450px) {
  .card-back-cvc-number {
    bottom: 0;
    top: 104px;
    left: 301px;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 1.3px;
  }
}

.card-front-img,
.card-back-img {
  width: 447px;
  height: 245px;
}
@media (max-width: 450px) {
  .card-front-img,
.card-back-img {
    width: 286px;
    height: 157px;
  }
}

.card-logo-img {
  width: 84px;
  height: 47px;
  position: absolute;
  top: 15px;
  left: 28px;
}
@media (max-width: 450px) {
  .card-logo-img {
    width: 54px;
    height: 30px;
    top: 135px;
    left: 37px;
  }
}

.card-back-img {
  position: relative;
  left: 110px;
}
@media (max-width: 450px) {
  .card-back-img {
    position: static;
    align-self: flex-end;
  }
}

@media (max-width: 450px) {
  .card-front-img {
    position: relative;
    bottom: 68px;
    left: 0;
  }
}

.card-front-number {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 3.5px;
}
@media (max-width: 450px) {
  .card-front-number {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 2.2px;
  }
}

.card-front-owner,
.card-front-expiration-date {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (max-width: 450px) {
  .card-front-owner,
.card-front-expiration-date {
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 1.3px;
  }
}

.card-flex-row {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */