@import "_global.scss";
@import "_form.scss";
@import "_thanks-card.scss";

body {
  font-size: 18px;
  background: url("../images/bg-main-desktop.png") no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: $mobile) {
    background: url("../images/bg-main-mobile.png") no-repeat;
    background-size: contain;
    align-items: flex-start;
  }
}

// CONTAINERS
.main-container {
  display: flex;
  //   width: 100%;
  //   height: 100%;
  //   padding: 187px 227px 186px 164px;
  width: 85%;
  gap: 15rem;
  @media (max-width: $mobile) {
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 3.25rem;
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
  position: relative;
  color: $white;
  gap: 2.3125rem;
  @media (max-width: $mobile) {
    flex-direction: column-reverse;
    min-width: 23.4375rem;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2rem 1rem 0 1rem;
    gap: 0;
    max-height: 15.6875rem;
  }
}

.card-front-text-container {
  position: absolute;
  top: 8.5625rem;
  left: 1.9375rem;
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  width: 23.5625rem;
  @media (max-width: $mobile) {
    top: 12.4375rem;
    left: 2.4375rem;
  }
}

.card-back-cvc-number {
  position: absolute;
  bottom: 7.25rem;
  left: 29.625rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
  @media (max-width: $mobile) {
    bottom: 0;
    top: 6.5rem;
    left: 18.8125rem;
    font-size: 0.5625rem;
    line-height: 0.6875rem;
    letter-spacing: 0.0813rem;
  }
}

// IMG
.card-front-img,
.card-back-img {
  width: 27.9375rem;
  height: 15.3125rem;
  @media (max-width: $mobile) {
    width: 17.875rem;
    height: 9.8125rem;
  }
}

.card-logo-img {
  width: 5.25rem;
  height: 2.9375rem;
  position: absolute;
  top: 0.9375rem;
  left: 1.75rem;
  @media (max-width: $mobile) {
    width: 3.375rem;
    height: 1.875rem;
    top: 8.4375rem;
    left: 2.3125rem;
  }
}

.card-back-img {
  position: relative;
  left: 6.875rem;
  @media (max-width: $mobile) {
    position: static;
    align-self: flex-end;
  }
}

.card-front-img {
  @media (max-width: $mobile) {
    position: relative;
    bottom: 4.25rem;
    left: 0;
  }
}

// CARDS TYPOGRAPHY
.card-front-number {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: 0.2188rem;
  @media (max-width: $mobile) {
    font-size: 1.125rem;
    line-height: 1.4375rem;
    letter-spacing: 0.1375rem;
  }
}

.card-front-owner,
.card-front-expiration-date {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  @media (max-width: $mobile) {
    font-size: 0.5625rem;
    line-height: 0.6875rem;
    letter-spacing: 0.0813rem;
  }
}

.card-flex-row {
  display: flex;
  justify-content: space-between;
}
