* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}

button,
input {
  cursor: pointer;
}

button {
  border: none;
}

.input-date--and-cvc-container,
.input-row {
  display: flex;
}

.form,
.input-date-container,
.input-cvc-container,
.input-name-container,
.input-card-number-container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.form {
  gap: 1.625rem;
  justify-content: center;
}
@media (max-width: 28.125rem) {
  .form {
    gap: 1.25rem;
    padding: 0 1.5rem;
  }
}

.input-row {
  gap: 0.625rem;
}
@media (max-width: 28.125rem) {
  .input-row {
    gap: 0.5rem;
  }
}

.input-date--and-cvc-container {
  gap: 1.6875rem;
}
@media (max-width: 28.125rem) {
  .input-date--and-cvc-container {
    gap: 0.6875rem;
  }
}

label {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.125rem;
  color: #21092f;
  text-transform: uppercase;
}

input {
  border: 1px solid #dfdee0;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  padding-left: 1rem;
}
input::placeholder {
  opacity: 0.25;
  color: #21092f;
}
input:focus {
  outline: 1px solid #6448fe;
}

.input-name,
.input-card-number {
  width: 24.1875rem;
  height: 2.8125rem;
}
@media (max-width: 28.125rem) {
  .input-name,
.input-card-number {
    width: 20.4375rem;
  }
}

.input-date {
  width: 5rem;
  height: 2.8125rem;
}
@media (max-width: 28.125rem) {
  .input-date {
    width: 4.5rem;
  }
}

.input-cvc {
  width: 11.9375rem;
  height: 2.8125rem;
}
@media (max-width: 28.125rem) {
  .input-cvc {
    width: 10.25rem;
  }
}

.btn {
  width: 23.8125rem;
  height: 3.3125rem;
  border-radius: 0.5rem;
  background-color: #21092f;
  color: hsl(0deg, 0%, 100%);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  text-align: center;
}
.btn:hover {
  opacity: 0.9;
}
@media (max-width: 28.125rem) {
  .btn {
    width: 20.4375rem;
  }
}

.error {
  color: #ff5050;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  text-transform: capitalize;
  display: none;
}

.thanks-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  display: none;
}

.thanks-img {
  width: 5rem;
  height: 5rem;
}

.thanks-heading-text {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: 0.2139rem;
  color: #21092f;
}

.thanks-paragraph {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  color: #8f8694;
}

body {
  font-size: 18px;
  background: url("../images/bg-main-desktop.png") no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 28.125rem) {
  body {
    background: url("../images/bg-main-mobile.png") no-repeat;
    background-size: contain;
    align-items: flex-start;
  }
}

.main-container {
  display: flex;
  width: 85%;
  gap: 15rem;
}
@media (max-width: 28.125rem) {
  .main-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 3.25rem;
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
  position: relative;
  color: hsl(0deg, 0%, 100%);
  gap: 2.3125rem;
}
@media (max-width: 28.125rem) {
  .cards-container {
    flex-direction: column-reverse;
    min-width: 23.4375rem;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2rem 1rem 0 1rem;
    gap: 0;
    max-height: 15.6875rem;
  }
}

.card-front-text-container {
  position: absolute;
  top: 8.5625rem;
  left: 1.9375rem;
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  width: 23.5625rem;
}
@media (max-width: 28.125rem) {
  .card-front-text-container {
    top: 12.4375rem;
    left: 2.4375rem;
  }
}

.card-back-cvc-number {
  position: absolute;
  bottom: 7.25rem;
  left: 29.625rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
}
@media (max-width: 28.125rem) {
  .card-back-cvc-number {
    bottom: 0;
    top: 6.5rem;
    left: 18.8125rem;
    font-size: 0.5625rem;
    line-height: 0.6875rem;
    letter-spacing: 0.0813rem;
  }
}

.card-front-img,
.card-back-img {
  width: 27.9375rem;
  height: 15.3125rem;
}
@media (max-width: 28.125rem) {
  .card-front-img,
.card-back-img {
    width: 17.875rem;
    height: 9.8125rem;
  }
}

.card-logo-img {
  width: 5.25rem;
  height: 2.9375rem;
  position: absolute;
  top: 0.9375rem;
  left: 1.75rem;
}
@media (max-width: 28.125rem) {
  .card-logo-img {
    width: 3.375rem;
    height: 1.875rem;
    top: 8.4375rem;
    left: 2.3125rem;
  }
}

.card-back-img {
  position: relative;
  left: 6.875rem;
}
@media (max-width: 28.125rem) {
  .card-back-img {
    position: static;
    align-self: flex-end;
  }
}

@media (max-width: 28.125rem) {
  .card-front-img {
    position: relative;
    bottom: 4.25rem;
    left: 0;
  }
}

.card-front-number {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: 0.2188rem;
}
@media (max-width: 28.125rem) {
  .card-front-number {
    font-size: 1.125rem;
    line-height: 1.4375rem;
    letter-spacing: 0.1375rem;
  }
}

.card-front-owner,
.card-front-expiration-date {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
@media (max-width: 28.125rem) {
  .card-front-owner,
.card-front-expiration-date {
    font-size: 0.5625rem;
    line-height: 0.6875rem;
    letter-spacing: 0.0813rem;
  }
}

.card-flex-row {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */